In [25]:
from src.modeling.clean import aggregate_by_keys, transform_vars

In [30]:
import pandas as pd
from src.utils.io import read_yml

In [121]:
config_clean = read_yml('./config/config_modeling.yml')['clean']
aggregation = config_clean['aggregation']
rename_map = config_clean['rename_map']

df = pd.read_csv('./data/raw/Ad_table.csv')
df.columns = [col.strip().lower() for col in df.columns]
df = df.rename(columns=rename_map)

/var/folders/64/5323jnh14zv0qbb9cp6_yw9w0000gn/T/ipykernel_85364/2613564572.py:5: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/raw/Ad_table.csv')

In [122]:
df_in = df.sample(20, random_state=1234).sort_values('maker')

In [124]:
# df_in = df_in[['engin_size', 'price']]
# df_in

In [125]:
df_in = pd.DataFrame([['3.0L', '24995'],
       ['3.0L', 10995],
       ['3.0L', '57990'],
       ['1.0L', 5107],
       ['2.0L', 23000],
       ['2.2L', 11999],
       ['1.6L', 1295],
       ['2.2L', 17990],
       ['2.0L', 2865],
       ['3.0L', 2490],
       ['2.2L', 2694],
       ['1.9L', 1290],
       ['1.2L', 13795],
       ['2.0L', '25989'],
       ['1.33L', '5950'],
       ['2.4L', '7495'],
       ['1.8L', '2795'],
       ['1.7L', '4799'],
       ['1.4L', 14791],
       ['1.6L', 6995]], columns=['engin_size', 'price'])

transformation = {'vars_strip_numeric': ['engin_size'], 
                  'vars_drop_non_numeric_rows': ['price']}

In [126]:
df_out = transform_vars(data=df_in, transformation=transformation)

/Users/billcai/Desktop/AVC_Project/Repo/src/modeling/clean.py:75: FutureWarning: The default value of regex will change from True to False in a future version.
  data[var_strip_numeric] = (data[var_strip_numeric]

In [128]:
df_out.columns

Index(['engin_size', 'price'], dtype='object')

In [ ]:
config_clean['rename_map']

{'transformation': {'vars_strip_numeric': ['engin_size'],
  'vars_drop_non_numeric_rows': ['price']},
 'aggregation': {'key_cols': ['maker', 'genmodel', 'year', 'bodytype'],
  'key_path': 'data/processed/keys.csv',
  'agg_cols_transforms': {'genmodel_id': 'first',
   'engin_size': 'first',
   'gearbox': 'mode',
   'fuel_type': 'first',
   'price': 'mean',
   'seat_num': 'mode',
   'door_num': 'mode'}},
 'rename_map': {'adv_year': 'year'},
 'new_index': 'car_id'}

In [135]:
aggregation = {
    'key_cols': ['maker', 'year'],
 'key_path': 'data/processed/teskeys.csv',
 'agg_cols_transforms': {
  'seat_num': 'first',
  'door_num': 'mode'}
}

In [154]:
df_in_2 = df[['maker', 'year', 'seat_num', 'door_num']].sample(20)
df_in_2

             maker  year  seat_num  door_num
181724       SKODA  2018       4.0       5.0
207651         BMW  2018       5.0       5.0
114575  Mitsubishi  2018       5.0       4.0
175752        Audi  2018       5.0       5.0
44306         Ford  2018       4.0       3.0
267600       Volvo  2018       5.0       5.0
23667         Ford  2018       5.0       3.0
213245      Toyota  2018       5.0       4.0
64168       Jaguar  2018       5.0       4.0
27904         Ford  2018       5.0       5.0
248742  Volkswagen  2018       5.0       5.0
2013      Chrysler  2018       NaN       NaN
70011         Jeep  2018       5.0       5.0
214650      Toyota  2018       5.0       5.0
168069        Audi  2018       5.0       5.0
63697       Jaguar  2018       5.0       4.0
80057   Land Rover  2018       5.0       5.0
168438        Audi  2018       5.0       5.0
43566         Ford  2018       5.0       5.0
73837          Kia  2018       5.0       5.0

In [157]:

df_in_2 = pd.DataFrame([['Hyundai', 2018, 5.0, 4.0],
       ['Dacia', 2018, 5.0, 5.0],
       ['Volkswagen', 2018, 5.0, 5.0],
       ['Jaguar', 2017, 5.0, 4.0],
       ['Mercedes-Benz', 2021, 5.0, 5.0],
       ['Mitsubishi', 2018, 5.0, 3.0],
       ['Land Rover', 2018, 5.0, 5.0],
       ['MINI', 2018, 2.0, 2.0],
       ['Renault', 2020, 5.0, 5.0],
       ['Peugeot', 2018, 5.0, 5.0],
       ['Land Rover', 2021, 5.0, 5.0],
       ['Subaru', 2018, 5.0, 5.0],
       ['Peugeot', 2018, 5.0, 5.0],
       ['Renault', 2018, 5.0, 5.0],
       ['Mercedes-Benz', 2018, 5.0, 5.0],
       ['Kia', 2018, 5.0, 3.0],
       ['Jaguar', 2018, 2.0, 2.0],
       ['Jaguar', 2018, 5.0, 4.0],
       ['Ford', 2018, 7.0, 5.0],
       ['Ford', 2018, 5.0, 5.0]], columns=['maker', 'year', 'seat_num', 'door_num'])

In [158]:
df_out = aggregate_by_keys(data=df_in_2, aggregation=aggregation, new_index="newcol")

In [160]:
df_out.columns

Index(['newcol', 'maker', 'year', 'seat_num', 'door_num'], dtype='object')

In [161]:
df_out.values

array([[0, 'Dacia', 2018, 5.0, 5.0],
       [1, 'Ford', 2018, 7.0, 5.0],
       [2, 'Hyundai', 2018, 5.0, 4.0],
       [3, 'Jaguar', 2017, 5.0, 4.0],
       [4, 'Jaguar', 2018, 2.0, 2.0],
       [5, 'Kia', 2018, 5.0, 3.0],
       [6, 'Land Rover', 2018, 5.0, 5.0],
       [7, 'Land Rover', 2021, 5.0, 5.0],
       [8, 'MINI', 2018, 2.0, 2.0],
       [9, 'Mercedes-Benz', 2018, 5.0, 5.0],
       [10, 'Mercedes-Benz', 2021, 5.0, 5.0],
       [11, 'Mitsubishi', 2018, 5.0, 3.0],
       [12, 'Peugeot', 2018, 5.0, 5.0],
       [13, 'Renault', 2018, 5.0, 5.0],
       [14, 'Renault', 2020, 5.0, 5.0],
       [15, 'Subaru', 2018, 5.0, 5.0],
       [16, 'Volkswagen', 2018, 5.0, 5.0]], dtype=object)